<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nissa.mainactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity">
        <activity
            android:name=".PilihBangunRuangActivity"
            android:exported="false" />
        <activity
            android:name=".PilihBangunDatarActivity"
            android:exported="false" />
        <activity
            android:name=".HitungTrapesiumActivity"
            android:exported="false" />
        <activity
            android:name=".HitungTabungActivity"
            android:exported="false" />
        <activity
            android:name=".HitungSegitigaActivity"
            android:exported="false" />
        <activity
            android:name=".HitungPersegiPanjangActivity"
            android:exported="false" />
        <activity
            android:name=".HitungPersegiActivity"
            android:exported="false" />
        <activity
            android:name=".HitungLingkaranActivity"
            android:exported="false" />
        <activity
            android:name=".HitungLimasSegiEmpatActivity"
            android:exported="false" />
        <activity
            android:name=".HitungLayangLayangActivity"
            android:exported="false" />
        <activity
            android:name=".HitungKubusActivity"
            android:exported="false" />
        <activity
            android:name=".HitungKerucutActivity"
            android:exported="false" />
        <activity
            android:name=".HitungJajarGenjangActivity"
            android:exported="false" />
        <activity
            android:name=".HitungBolaActivity"
            android:exported="false" />
        <activity
            android:name=".HitungBelahKetupatActivity"
            android:exported="false" />
        <activity
            android:name=".HitungBalokActivity"
            android:exported="false" />
        <activity
            android:name=".activity_about"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>